@model IEnumerable<ImdbLite.Web.ViewModels.Articles.ArticleListItemsViewModel>

@if (Model.Count() != 0)
{
    <div class="panel @ViewData["class"]">
        <div class="panel-heading" data-toggle="collapse" data-target="#articles" aria-expanded="false">
            <h3 class="panel-title text-uppercase pointer">@ViewData["title"]</h3>
        </div>
        <div class="panel-body collapse collection" id="articles">
            <table class="table table-hover table-bottom-border">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row">
                            <td class="col-md-10">@Html.ActionLink(item.Title, "Details", "Articles", new { id = item.Id }, null)</td>
                            <td class="col-md-2 right">by @Html.DisplayFor(m => item.WrittenBy)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
