@model IEnumerable<ImdbLite.Web.ViewModels.CastMember.CastMemberCelebrityViewModel>

@if (Model.Count() != 0)
{
    <div class="panel @ViewData["class"]">
        <div class="panel-heading" data-toggle="collapse" data-target="#directors" aria-expanded="false">
            <h3 class="panel-title text-uppercase pointer">Director</h3>
        </div>
        <div class="panel-body collapse collection" id="directors">
            <table class="table table-bottom-border table-striped table-hover">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row">
                            <td class="col-md-11">@Html.ActionLink(item.MovieTitle, "Details", "Movies", new { id = item.MovieId }, null)</td>
                            <td class="col-md-2">@Html.DisplayFor(m => item.MovieReleaseDate)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
