@model HttpPostedFileBase
<p class="fileUpload btn btn-default">
    <span>Select Image</span>
    @Html.UploadFile(model => model, new { @class = "upload", id = "upload-file" })
</p>
<div>
    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
</div>
