@model IEnumerable<ImdbLite.Web.ViewModels.Articles.ArticleListItemsViewModel>
@{
    ViewBag.Title = "Celebrities";
}

<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header row">
                @ViewBag.Title
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                @Html.DisplayFor(m => m, "HomePageArticlePanel", new { @class = "panel-primary", title = "Celebrity Articles" })
            </div>
        </div>

        <div class="col-md-8">
            <div id="update-target" class="col-md-12">
                @Html.Action("ReadData", "Celebrities")
            </div>
        </div class="col-md-8">
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/scroll-to-top")
}