@model ImdbLite.Web.ViewModels.Votes.RatingViewModel

<div>
    <input id="input-1" class="rating" data-min="0" data-max="10" data-step="0.1" data-size="xs" data-show-clear="false" value=@Model.Rating data-disabled="true">
</div>
